[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=1
timerHide=100
timerShow=400
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][11]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][11][Configuration]
PreloadWeight=18

[Containments][1][Applets][12]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][1][Applets][12][Configuration]
PreloadWeight=28

[Containments][1][Applets][12][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][12][Configuration][Preferences]
DesktopButtonsSpacing=4
DesktopIndicatorsStyle=3
DesktopLabelsBoldFontForCurrentDesktop=true
DesktopLabelsStyle=1

[Containments][1][Applets][14]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][14][Configuration]
PreloadWeight=18

[Containments][1][Applets][15]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][15][Configuration]
PreloadWeight=0
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][15][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][15][Configuration][General]
url=file:///home/manilarome

[Containments][1][Applets][16]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][16][Configuration]
PreloadWeight=18

[Containments][1][Applets][17]
immutability=1
plugin=org.kde.plasma.dittomenu

[Containments][1][Applets][17][Configuration]
PreloadWeight=92

[Containments][1][Applets][17][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][17][Configuration][General]
customButtonImage=distributor-logo-archlinux
favoritesPortedToKAstats=true
numberColumns=5
showFavoritesFirst=true
useCustomButtonImage=true
useExtraRunners=false

[Containments][1][Applets][18]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][18][Configuration]
PreloadWeight=18
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][18][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][18][Configuration][General]
url=file:///home/manilarome/Downloads

[Containments][1][Applets][19]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][19][Configuration]
PreloadWeight=18
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][19][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][19][Configuration][General]
url=file:///home/manilarome/Videos

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
hoverAction=PreviewWindows
isInLatteDock=true
launchers59=file:///latte-separator1.desktop,applications:org.kde.konsole.desktop,applications:firefox.desktop,applications:sublime_text_3.desktop,applications:org.kde.dolphin.desktop,applications:systemsettings.desktop,applications:com.github.johnfactotum.Foliate.desktop
manualScrollTasksType=Disabled

[Containments][1][ConfigDialog]
DialogHeight=904
DialogWidth=539

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
activeWindowFilter=FromAllScreens
advanced=false
alignmentUpgraded=true
appletOrder=17;2;11;12;16;15;18;19;14
backgroundRadius=35
iconSize=48
infoBadgeProminentColorEnabled=true
lengthExtMargin=12
minLength=22
panelSize=100
panelTransparency=25
screenEdgeMargin=10
shadowOpacity=15
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=0
splitterPosition2=1
tasksUpgraded=true
zoomLevel=2

[Containments][1][Indicator]
customType=org.kde.latte.win7
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
glowOpacity=0.3
lengthPadding=0
minimizedTaskColoredDifferently=true

[LayoutSettings]
background=
backgroundStyle=0
color=black
customBackground=
customTextColor=333333
icon=
lastUsedActivity=
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=333333
version=2
