[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=200
timerShow=100
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][13]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][13][Configuration]
PreloadWeight=0
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][13][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][13][Configuration][General]
url=file:///home/manilarome/Pictures

[Containments][1][Applets][14]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][14][Configuration]
PreloadWeight=0
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][14][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][14][Configuration][General]
url=file:///home/manilarome/Downloads

[Containments][1][Applets][15]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][15][Configuration]
PreloadWeight=0
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][15][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][15][Configuration][General]
url=file:///home/manilarome/Documents

[Containments][1][Applets][16]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][16][Configuration]
PreloadWeight=0

[Containments][1][Applets][17]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][17][Configuration]
PreloadWeight=0

[Containments][1][Applets][18]
immutability=1
plugin=org.kde.plasma.dittomenu

[Containments][1][Applets][18][Configuration]
PreloadWeight=0

[Containments][1][Applets][18][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][18][Configuration][General]
customButtonImage=distributor-logo-archlinux
favoriteSystemActions=logout,lock-screen
favoritesPortedToKAstats=true
numberColumns=4
showFavoritesFirst=true
useCustomButtonImage=true
useExtraRunners=false

[Containments][1][Applets][19]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][19][Configuration]
PreloadWeight=0

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.konsole.desktop,applications:firefox.desktop,applications:sublime_text_3.desktop,applications:org.kde.dolphin.desktop,applications:systemsettings.desktop
manualScrollTasksType=Disabled

[Containments][1][Applets][9]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][9][Configuration]
PreloadWeight=0

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
activeWindowFilter=FromAllScreens
advanced=false
alignmentUpgraded=true
appletOrder=18;19;2;9;15;14;13;16;17
appletShadowsEnabled=false
backgroundAllCorners=true
durationTime=x1
iconSize=48
inConfigureAppletsMode=true
lengthExtMargin=10
panelShadows=false
panelSize=100
panelTransparency=51
screenEdgeMargin=10
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
thickMargin=40
zoomLevel=4

[Containments][1][Indicator]
customType=org.kde.latte.glorious
enabled=true
type=org.kde.latte.glorious

[Containments][1][Indicator][org.kde.latte.dashtopanel][General]
lengthPadding=0.05
lineThickness=0.09
maxBackgroundOpacity=0.35
style=Dashes

[Containments][1][Indicator][org.kde.latte.default][General]
enabledForApplets=false
lengthPadding=0
minimizedTaskColoredDifferently=true

[Containments][1][Indicator][org.kde.latte.glorious][General]
colorsForSquareApplets=true
glowOpacity=0.75
lengthPadding=0.1
maxBackgroundOpacity=0.2
showShapesIndicators=true

[Containments][1][Indicator][org.kde.latte.plasma][General]
clickedAnimationEnabled=true
lengthPadding=0

[Containments][1][Indicator][org.kde.latte.simple][General]
backgroundOpacity=0.65
clickedAnimationEnabled=true
colorsForMinimized=true
lengthPadding=0.1

[Containments][1][Indicator][org.kde.latte.unity][General]
colorsForMinimized=true
fillShapesForMinimized=false
glowOpacity=0.6
lengthPadding=0.1
shapesAtForeground=true
style=Dot

[LayoutSettings]
activities=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=
launchers=
preferredForShortcutsTouched=false
showInMenu=true
version=2

[ScreenMapping]
screenMapping=
