[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=18

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.konsole.desktop,applications:firefox.desktop,applications:sublime_text_3.desktop,applications:org.kde.dolphin.desktop,applications:com.github.johnfactotum.Foliate.desktop,applications:vlc.desktop

[Containments][1][Applets][23]
immutability=1
plugin=org.kde.plasma.dittomenu

[Containments][1][Applets][23][Configuration]
PreloadWeight=81

[Containments][1][Applets][23][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][23][Configuration][General]
customButtonImage=distributor-logo-archlinux
favoritesPortedToKAstats=true
numberColumns=4
showFavoritesFirst=true
useCustomButtonImage=true

[Containments][1][Applets][23][Shortcuts]
global=Meta+Space

[Containments][1][Applets][24]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][24][Configuration]
PreloadWeight=26

[Containments][1][Applets][25]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][25][Configuration]
PreloadWeight=26

[Containments][1][Applets][26]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][1][Applets][26][Configuration]
PreloadWeight=26

[Containments][1][Applets][26][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][26][Configuration][Preferences]
DesktopButtonsSetCommonSizeForAll=true
DesktopIndicatorsDistinctForDesktopsNeedingAttention=true
DesktopIndicatorsStyle=3
DesktopLabelsCustomFont=Inter
DesktopLabelsStyle=1

[Containments][1][Applets][27]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][27][Configuration]
PreloadWeight=26

[Containments][1][Applets][28]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][28][Configuration]
PreloadWeight=7
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][28][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][28][Configuration][General]
url=file:///home/manilarome

[Containments][1][Applets][29]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][29][Configuration]
PreloadWeight=2
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][29][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][29][Configuration][General]
url=file:///home/manilarome/Downloads

[Containments][1][Applets][30]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][30][Configuration]
PreloadWeight=7
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][30][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][30][Configuration][General]
url=file:///home/manilarome/Videos

[Containments][1][Applets][31]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][31][Configuration]
PreloadWeight=26

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=18

[Containments][1][General]
advanced=false
alignmentUpgraded=true
appletOrder=23;24;2;25;26;27;28;29;30;31
backgroundAllCorners=true
backgroundRadius=35
iconSize=48
lengthExtMargin=10
panelSize=100
panelTransparency=25
screenEdgeMargin=10
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
thickMargin=25
zoomLevel=7

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
lengthPadding=0

[LayoutSettings]
activities=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=
launchers=
preferredForShortcutsTouched=false
showInMenu=true
version=2
